<?xml version="1.0"?>
<launch>

  <arg name="robot_namespace" default=""/>
  <arg name="arm_namespace" default=""/>
  <arg name="sim_suffix" default=""/>
  <arg name="VIO_enabled" default="true"/>

  <arg name="debug" default="false" />

  <rosparam command="load" file="$(find boat_planner)/config/points.yaml"/>

  <node name="boat_planner" pkg="boat_planner" type="boat_planner_node" output="screen">
    <param name="robot_namespace" value="$(arg robot_namespace)" />
    <param name="arm_namespace" value="$(arg arm_namespace)" />
    <param name="sim_suffix" value="$(arg sim_suffix)" />

    <!-- 
    <param name="allow_trajectory_execution" value="$(arg allow_trajectory_execution)"/>
    <param name="max_safe_path_cost" value="$(arg max_safe_path_cost)"/>
    <param name="jiggle_fraction" value="$(arg jiggle_fraction)" />
    <param name="max_sampling_attempts" value="$(arg max_sampling_attempts)" />
    -->
  </node>
  
</launch>